<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <couchbase>
    <servers bucket="default" userName="Administrator" bucketPassword="123456">
      <add uri="http://172.16.89.49:8091/pools/default"/>
    </servers>
    <socketPool minPoolSize="20" maxPoolSize="1000" connectionTimeout="00:00:02" deadTimeout="00:00:10" />
  </couchbase>

  <appSettings>
    <add key="GPS" value="pxhpjx" />
    <add key="Verify_Cookie_Domain" value="" />
  </appSettings>

</configuration>
